
  .main-container {
    display: flex;
    z-index: 1000;
  }

  .heading-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #17132A;
    width: 100vw;
    height: 7rem;
    position: fixed;
    top: 0;
    z-index: 500;



  }
  main {
    padding: 10px;
   
  }
  
  .title {
    font-size: 3rem;
    display: grid;
    place-items: center;
  }
  
  /* Sidebar */
  .sidebar {
    background: #17132A;
    color: white;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: auto;
    z-index: 1000;
  
  }
  
  .top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .logo {
    font-size: 18px;
    line-height: 0;
  }
  .bars {
    width: 30px;
font-size: 2.5rem;
  }
  
  .hide {
    display: none;
  }
  

  
  .routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .link {
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .link:hover {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .icon{
    font-size: 2rem;
    margin-top: .4rem;
  }
  .active {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
  }
  .link_text {
    white-space: nowrap;
    font-size: 2rem;
  }
  
  .menu {
    display: flex;
    color: white;
  
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
  }
  .menu_item {
    display: flex;
    gap: 10px;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
  }
  .menu_container .link {
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
  }